@charset "utf-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --fw-100: 100;
    --fw-200: 200;
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
    
	--black: #1c1c1c;
    --gray01: #666666;
    --gray02: #e8e8e8;
    --blue: #0A2961 ;
    --blue01: #244d8e;
    --blue02: #dae3f3;
    --blue03: #f0f4fa;
    --blue04: #83d2de;
	--blue05: #3877DB;
    --white: #fff;
    --yellow : #F3B900;
    --alertColor: #0A2961;
    --borderColor1: #CCD2DD;
    --txtGray1:#666;
    --lineColor:rgba(0, 0, 0, 0.20);
    --lineColor1:#ddd;
    
    --serif: "Noto Serif KR", serif;


	--hdH: 9rem;
    --hdIn: 5rem;
    --inPd: 20px;
    --inpH: 3em;

    --basic_font: 1rem; /* 16px */
	
	--tit1: 4rem; /* 64px */
	--tit2: 3em;  /* 48px */
    --tit3: 3rem; /* 32px */
    --tit4: 2rem; /* 32px */
    --tit5: 1.5rem; /* 24px */
}


html {
    font-size: 100%; /* 1rem = 16px */
}

* {
    font-family: 'Pretendard', sans-serif;
    font-size: var(--basic_font);
    line-height: 1.5;
    color: var(--black)
}

@media screen and (max-width: 1000px){
	*{ font-size: 16px; }
}

@media screen and (max-width: 640px){
	*{ font-size: 15px; }
}

@media screen and (max-width: 320px){
	*{ font-size: 14px; }
}

#wrap {
	min-width: 640px;
}

#wrap, #content {
	width: 100%;
}

.wrap {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1300px){
	.wrapper{ width: 90%; }
}

.inner {
	max-width: 1580px;
	padding: 150px 80px;
	margin: 0 auto;
}

a {
	color: var(--black);
}

@media screen and (max-width: 1000px){
	*{ font-size: 16px; }
}

@media screen and (max-width: 640px){
	*{ font-size: 15px; }
}

@media screen and (max-width: 320px){
	*{ font-size: 14px; }
}

/* 마진 및 패딩값 */
.mt5{ margin-top: 5px !important; }
.mt15{ margin-top: 15px !important; }
.mt20{ margin-top: 20px !important; }
.mt25{ margin-top: 25px !important; }
.mt30{ margin-top: 30px !important; }
.mt35{ margin-top: 35px !important; }
.mt40{ margin-top: 40px !important; }
.mt45{ margin-top: 45px !important; }
.mt50{ margin-top: 50px !important; }
.mt60{ margin-top: 60px !important; }
.mt65{ margin-top: 65px !important; }
.mt70{ margin-top: 70px !important; }
.mt80{ margin-top: 80px !important; }
.mt90{ margin-top: 90px !important; }
.mt100{ margin-top: 100px !important; }

.mb15{ margin-bottom: 15px !important; }
.mb20{ margin-bottom: 20px !important; }
.mb25{ margin-bottom: 25px !important; }
.mb30{ margin-bottom: 30px !important; }
.mb35{ margin-bottom: 35px !important; }
.mb40{ margin-bottom: 40px !important; }
.mb45{ margin-bottom: 45px !important; }
.mb50{ margin-bottom: 50px !important; }
.mb60{ margin-bottom: 60px !important; }
.mb65{ margin-bottom: 65px !important; }
.mb70{ margin-bottom: 70px !important; }
.mb80{ margin-bottom: 80px !important; }
.mb90{ margin-bottom: 90px !important; }
.mb100{ margin-bottom: 100px !important; }

.pt40{ padding-top: 40px !important; }
.pt50{ padding-top: 50px !important; }
.pt60{ padding-top: 60px !important; }
.pt70{ padding-top: 70px !important; }
.pt80{ padding-top: 80px !important; }
.pt90{ padding-top: 90px !important; }
.pt100{ padding-top: 100px !important; }
.pt110{ padding-top: 110px !important; }
.pt120{ padding-top: 120px !important; }
.pt130{ padding-top: 130px !important; }
.pt140{ padding-top: 140px !important; }
.pt150{ padding-top: 150px !important; }
.pt160{ padding-top: 160px !important; }
.pt170{ padding-top: 170px !important; }
.pt180{ padding-top: 180px !important; }
.pt190{ padding-top: 190px !important; }

.pb50{ padding-bottom: 50px !important; }
.pb60{ padding-bottom: 60px !important; }
.pb70{ padding-bottom: 70px !important; }
.pb80{ padding-bottom: 80px !important; }
.pb90{ padding-bottom: 90px !important; }
.pb100{ padding-bottom: 100px !important; }
.pb110{ padding-bottom: 110px !important; }
.pb120{ padding-bottom: 120px !important; }
.pb130{ padding-bottom: 130px !important; }
.pb140{ padding-bottom: 140px !important; }
.pb150{ padding-bottom: 150px !important; }
.pb160{ padding-bottom: 160px !important; }
.pb170{ padding-bottom: 170px !important; }
.pb180{ padding-bottom: 180px !important; }
.pb190{ padding-bottom: 190px !important; }



@media screen and (max-width: 1500px){}

@media screen and (max-width: 1300px){
	.mt50{ margin-top: 40px !important; }
	.mt60{ margin-top: 50px !important; }
	.mt65{ margin-top: 55px !important; }
	.mt70{ margin-top: 60px !important; }
	.mt80{ margin-top: 70px !important; }
	.mt90{ margin-top: 80px !important; }
	.mt100{ margin-top: 90px !important; }

	.mb50{ margin-bottom: 40px !important; }
	.mb60{ margin-bottom: 50px !important; }
	.mb65{ margin-bottom: 55px !important; }
	.mb70{ margin-bottom: 60px !important; }
	.mb80{ margin-bottom: 70px !important; }
	.mb90{ margin-bottom: 80px !important; }
	.mb100{ margin-bottom: 90px !important; }


	.pt40{ padding-top: 30px !important; }
	.pt50{ padding-top: 40px !important; }
	.pt60{ padding-top: 50px !important; }
	.pt70{ padding-top: 60px !important; }
	.pt80{ padding-top: 70px !important; }
	.pt90{ padding-top: 80px !important; }
	.pt100{ padding-top: 90px !important; }
	.pt110{ padding-top: 100px !important; }
	.pt120{ padding-top: 110px !important; }
	.pt130{ padding-top: 120px !important; }
	.pt140{ padding-top: 130px !important; }
	.pt150{ padding-top: 140px !important; }
	.pt160{ padding-top: 150px !important; }
	.pt170{ padding-top: 160px !important; }
	.pt180{ padding-top: 170px !important; }
	.pt190{ padding-top: 180px !important; }

	.pb50{ padding-bottom: 40px !important; }
	.pb60{ padding-bottom: 50px !important; }
	.pb70{ padding-bottom: 60px !important; }
	.pb80{ padding-bottom: 70px !important; }
	.pb90{ padding-bottom: 80px !important; }
	.pb100{ padding-bottom: 90px !important; }
	.pb110{ padding-bottom: 100px !important; }
	.pb120{ padding-bottom: 110px !important; }
	.pb130{ padding-bottom: 120px !important; }
	.pb140{ padding-bottom: 130px !important; }
	.pb150{ padding-bottom: 140px !important; }
	.pb160{ padding-bottom: 150px !important; }
	.pb170{ padding-bottom: 160px !important; }
	.pb180{ padding-bottom: 170px !important; }
	.pb190{ padding-bottom: 180px !important; }
}

@media screen and (max-width: 1200px){
	.mt80{ margin-top: 55px !important; }
    .mt70{ margin-top: 60px !important; }
	.mt60{ margin-top: 50px !important; }
	.mt50{ margin-top: 40px !important; }
	.mt45{ margin-top: 35px !important; }
	.mt40{ margin-top: 30px !important; }
	.mt35{ margin-top: 25px !important; }
	.mt30{ margin-top: 20px !important; }
	.mt20{ margin-top: 15px !important; }

	.mb80{ margin-bottom: 55px !important; }
    .mb70{ margin-bottom: 60px !important; }
	.mb60{ margin-bottom: 50px !important; }
	.mb50{ margin-bottom: 40px !important; }
	.mb45{ margin-bottom: 35px !important; }
	.mb40{ margin-bottom: 30px !important; }
	.mb35{ margin-bottom: 25px !important; }
	.mb30{ margin-bottom: 20px !important; }
	.mb20{ margin-bottom: 15px !important; }


	.pt130{ padding-top: 115px !important; }
	.pt140{ padding-top: 120px !important; }
	.pt150{ padding-top: 125px !important; }
	.pt160{ padding-top: 135px !important; }
	.pt170{ padding-top: 140px !important; }
	.pt180{ padding-top: 150px !important; }
	.pt190{ padding-top: 160px !important; }

	.pb130{ padding-bottom: 115px !important; }
	.pb140{ padding-bottom: 120px !important; }
	.pb150{ padding-bottom: 125px !important; }
	.pb160{ padding-bottom: 135px !important; }
	.pb170{ padding-bottom: 140px !important; }
	.pb180{ padding-bottom: 150px !important; }
	.pb190{ padding-bottom: 160px !important; }
}

@media screen and (max-width: 1000px){
	.mt100{ margin-top: 70px !important; }
	.mt90{ margin-top: 60px !important; }
	.mt80{ margin-top: 55px !important; }
	.mt70{ margin-top: 50px !important; }
	.mt60{ margin-top: 45px !important; }
	.mt50{ margin-top: 35px !important; }

	.mb100{ margin-bottom: 70px !important; }
	.mb90{ margin-bottom: 60px !important; }
	.mb80{ margin-bottom: 55px !important; }
	.mb70{ margin-bottom: 50px !important; }
	.mb60{ margin-bottom: 45px !important; }
	.mb50{ margin-bottom: 35px !important; }


	.pt80{ padding-top: 75px !important; }
	.pt90{ padding-top: 80px !important; }
	.pt100{ padding-top: 85px !important; }
	.pt110{ padding-top: 90px !important; }
	.pt120{ padding-top: 95px !important; }
	.pt130{ padding-top: 100px !important; }
	.pt140{ padding-top: 105px !important; }
	.pt150{ padding-top: 110px !important; }
	.pt160{ padding-top: 115px !important; }
	.pt170{ padding-top: 120px !important; }
	.pt180{ padding-top: 125px !important; }
	.pt190{ padding-top: 130px !important; }

	.pb80{ padding-bottom: 75px !important; }
	.pb90{ padding-bottom: 80px !important; }
	.pb100{ padding-bottom: 85px !important; }
	.pb110{ padding-bottom: 90px !important; }
	.pb120{ padding-bottom: 95px !important; }
	.pb130{ padding-bottom: 100px !important; }
	.pb140{ padding-bottom: 105px !important; }
	.pb150{ padding-bottom: 110px !important; }
	.pb160{ padding-bottom: 115px !important; }
	.pb170{ padding-bottom: 120px !important; }
	.pb180{ padding-bottom: 125px !important; }
	.pb190{ padding-bottom: 130px !important; }
}

@media screen and (max-width: 640px){
	.mt15{ margin-top: 7px !important; }
	.mt20{ margin-top: 10px !important; }
	.mt25{ margin-top: 12px !important; }
	.mt30{ margin-top: 15px !important; }
	.mt35{ margin-top: 20px !important; }
	.mt40 { margin-top: 25px !important; }
	.mt50 {  margin-top: 30px !important; }
	.mt60 {  margin-top: 40px !important; }
	.mt70{ margin-top: 45px !important; }
	.mt80 { margin-top: 45px !important; }
	.mt90 { margin-top: 50px !important; }
	.mt100 { margin-top: 55px !important; }

	.mb15{ margin-bottom: 7px !important; }
	.mb20{ margin-bottom: 10px !important; }
	.mb25{ margin-bottom: 12px !important; }
	.mb30{ margin-bottom: 15px !important; }
	.mb35{ margin-bottom: 20px !important; }
	.mb40 { margin-bottom: 25px !important; }
	.mb50 {  margin-bottom: 30px !important; }
	.mb60 {  margin-bottom: 40px !important; }
	.mb70{ margin-bottom: 45px !important; }
	.mb80 { margin-bottom: 45px !important; }
	.mb90 { margin-bottom: 50px !important; }
	.mb100 { margin-bottom: 55px !important; }


	.pt40{ padding-top: 30px !important; }
	.pt50{ padding-top: 40px !important; }
	.pt60{ padding-top: 45px !important; }
	.pt70{ padding-top: 50px !important; }
	.pt80{ padding-top: 55px !important; }
	.pt90{ padding-top: 60px !important; }
	.pt100{ padding-top: 65px !important; }
	.pt110{ padding-top: 70px !important; }
	.pt120{ padding-top: 75px !important; }
	.pt130{ padding-top: 80px !important; }
	.pt140{ padding-top: 85px !important; }
	.pt150{ padding-top: 90px !important; }
	.pt160{ padding-top: 95px !important; }
	.pt170{ padding-top: 100px !important; }
	.pt180{ padding-top: 105px !important; }
	.pt190{ padding-top: 110px !important; }
	
	.pb50{ padding-bottom: 40px !important; }
	.pb60{ padding-bottom: 45px !important; }
	.pb70{ padding-bottom: 50px !important; }
	.pb80{ padding-bottom: 55px !important; }
	.pb90{ padding-bottom: 60px !important; }
	.pb100{ padding-bottom: 65px !important; }
	.pb110{ padding-bottom: 70px !important; }
	.pb120{ padding-bottom: 75px !important; }
	.pb130{ padding-bottom: 80px !important; }
	.pb140{ padding-bottom: 85px !important; }
	.pb150{ padding-bottom: 90px !important; }
	.pb160{ padding-bottom: 95px !important; }
	.pb170{ padding-bottom: 100px !important; }
	.pb180{ padding-bottom: 105px !important; }
	.pb190{ padding-bottom: 110px !important; }
}

@media screen and (max-width: 320px){
	.mt15{ margin-top: 7px !important; }
	.mt20{ margin-top: 10px !important; }
	.mt25{ margin-top: 12px !important; }
	.mt30{ margin-top: 15px !important; }
	.mt35{ margin-top: 20px !important; }
	.mt40 { margin-top: 25px !important; }
	.mt50 {  margin-top: 30px !important; }
	.mt60 {  margin-top: 40px !important; }
	.mt70{ margin-top: 45px !important; }
	.mt80 { margin-top: 45px !important; }
	.mt90 { margin-top: 50px !important; }
	.mt100 { margin-top: 55px !important; }

	.mb15{ margin-bottom: 7px !important; }
	.mb20{ margin-bottom: 10px !important; }
	.mb25{ margin-bottom: 12px !important; }
	.mb30{ margin-bottom: 15px !important; }
	.mb35{ margin-bottom: 20px !important; }
	.mb40 { margin-bottom: 25px !important; }
	.mb50 {  margin-bottom: 30px !important; }
	.mb60 {  margin-bottom: 40px !important; }
	.mb70{ margin-bottom: 45px !important; }
	.mb80 { margin-bottom: 45px !important; }
	.mb90 { margin-bottom: 50px !important; }
	.mb100 { margin-bottom: 55px !important; }


	.pt40{ padding-top: 20px !important; }
	.pt50{ padding-top: 25px !important; }
	.pt60{ padding-top: 30px !important; }
	.pt70{ padding-top: 35px !important; }
	.pt80{ padding-top: 40px !important; }
	.pt90{ padding-top: 45px !important; }
	.pt100{ padding-top: 50px !important; }
	.pt110{ padding-top: 55px !important; }
	.pt120{ padding-top: 60px !important; }
	.pt130{ padding-top: 65px !important; }
	.pt140{ padding-top: 70px !important; }
	.pt150{ padding-top: 75px !important; }
	.pt160{ padding-top: 80px !important; }
	.pt170{ padding-top: 85px !important; }
	.pt180{ padding-top: 90px !important; }
	.pt190{ padding-top: 95px !important; }
	
	.pb50{ padding-bottom: 25px !important; }
	.pb60{ padding-bottom: 30px !important; }
	.pb70{ padding-bottom: 35px !important; }
	.pb80{ padding-bottom: 40px !important; }
	.pb90{ padding-bottom: 45px !important; }
	.pb100{ padding-bottom: 50px !important; }
	.pb110{ padding-bottom: 55px !important; }
	.pb120{ padding-bottom: 60px !important; }
	.pb130{ padding-bottom: 65px !important; }
	.pb140{ padding-bottom: 70px !important; }
	.pb150{ padding-bottom: 75px !important; }
	.pb160{ padding-bottom: 80px !important; }
	.pb170{ padding-bottom: 85px !important; }
	.pb180{ padding-bottom: 90px !important; }
	.pb190{ padding-bottom: 95px !important; }
}




.title {
    font-size: 2.8125rem;
    font-weight: var(--fw-400);
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--gray01);
    margin-top: 30px;
}

.deco {
    font-size: 1rem;
    font-weight: var(--fw-700);
    color: var(--blue01);
    font-family: 'GmarketSansMedium';
}

.text {
    font-size: 1.125rem;
    color: var(--gray01);
    line-height: 1.5;
    margin-top: 30px;
}

.small-deco {
    display: block;
    font-size: 0.875rem;
    font-weight: var(--fw-700);
    color: var(--blue04);
    font-family: 'GmarketSansMedium';
}

.pc {
    display: block;
}

.mb {
    display: none;
}

.small-text {
    font-size: 1rem;
    color: var(--gray01);
    line-height: 1.3;
}

.title strong {
    font-size: inherit;
    font-weight: var(--fw-700);
    font-family: inherit;
    text-transform: inherit;
    color: var(--black);
}

.view-button {
	font-size: inherit;
    color: var(--white);
    transition: 0.5s;
	text-align: right;
}

.view-button a {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: inherit;
    padding: 43px 0 43px 43px;
    transition: .5s;
}

.view-button span {
	color: var(--white);
}

.view-button a em {
	margin-left: 3px;
	color: var(--blue04);
}

.view-button a:after {
    content: '';
	position: absolute;
    top: 50%;
    left: 0;
    width: 85px;
    height: 85px;
    background: var(--blue04);
    border-radius: 50%;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.5s;
}

.view-button a:hover::after {
    left: 67%;
}

.view-button a:hover span {
	color: var(--blue04);
}

.view-button a:hover em {
	color: var(--white);
}



@media all and (max-width: 640px){
	.pc{
		display: none;
	}
	.mb{
		display: block;
	
    }
}