/* ========================================
   FOOTER
======================================== */

.footer {
    width: 100%;
}

.footer_inner {
    max-width: 1480px;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;

}


/* ========================================
   FOOTER TOP
======================================== */

.footer_top {
    display: flex;
    border-bottom: solid 1px #ddd;
}


/* ========================================
   LOGO
======================================== */

.footer_logo {
    width: 265px;
    flex-shrink: 0;

    padding: 24px 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_logo > strong {
    font-size: 27px;
    line-height: 1.05;
    letter-spacing: -1px;
}

.footer_logo > strong span {
    color: #ff8a00;
}


/* ========================================
   HOSPITAL CONTACT
======================================== */

.footer_contact {
    display: flex;


    padding: 17px 28px;
}

.footer_contact_box {
    display: flex;
}


.hospital_info {
    flex: 1;

    display: flex;
    gap: 13px;

    padding-right: 25px;
}

.hospital_info + .hospital_info {
    padding-left: 25px;
}


/* 전화 동그라미 */

.phone_circle {
    width: 34px;
    height: 34px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: #063e91;

    color: #fff;
    font-size: 14px;
}


/* 병원 텍스트 */

.hospital_text h3 {
    margin: 0 0 10px;

    color: #063e91;
    font-weight: 700;
}

.hospital_text .address {
    margin: 0 0 8px;

    color: #777;
    white-space: nowrap;
}


.hospital_text .tel,
.hospital_text .fax {
    margin: 10px 0;

    color: #333;

}

.hospital_text .tel i,
.hospital_text .fax i {
    width: 20px;
    margin-right: 5px;

    color: #063e91;
}


/* ========================================
   QUICK MENU
======================================== */

.footer_quick {
    padding: 17px 15px;
    display: flex;
    gap: 8px;
}


.footer_quick a {
    height: 43px;

    padding: 0 15px;

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 8px;

    background: #f0f5fc;

    color: #063e91;

    text-decoration: none;
}


.footer_quick a i {
    font-size: 17px;
}


.footer_quick a span {
    flex: 1;

    font-size: 12px;
    font-weight: 600;
}


.footer_quick a strong {
    font-size: 16px;
    font-weight: 400;
}


/* ========================================
   FOOTER MENU
======================================== */
.footer_logo_box {
    display: flex;
    align-items: start;
}

.footer_info {
    display: flex;
}

.footer_menu {
    display: flex;
    gap: 45px;

    padding: 32px 0px;
}


.footer_menu > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.footer_menu h3 {
    margin: 0 0 5px;

    color: #063e91;
}


.footer_menu a {
    color: #555;
    text-decoration: none;
}


/* ========================================
   FOOTER BOTTOM
======================================== */

.footer_bottom {
    padding: 0 28px;

    display: flex;
    align-items: center;
    gap: 100px;
    color: #fff;
}


/* 산하기관 */

.footer_affiliate {
    display: flex;
    align-items: center;
    gap: 20px;

    flex-shrink: 0;
}



/* 사업자 */

.footer_company {
    margin-left: auto;
    margin-right: 40px;
}


.footer_company p {
    white-space: nowrap;
}


.footer_company span,
.copyright span {
    margin: 0 5px;
}

/* copyright */

.copyright {
    white-space: nowrap;
}


.footer_company > *{
    margin-bottom: 10px;
}