/* ========================================
   FOOTER
======================================== */

.footer {
    width: 100%;
}

.footer_inner {
    max-width: 1480px;
    margin: 0 auto;
    overflow: hidden;
}


/* ========================================
   FOOTER TOP
======================================== */

.footer_top {
    display: flex;
}


/* ========================================
   LOGO
======================================== */

.footer_logo {
    width: 265px;
    flex-shrink: 0;

    padding: 24px 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer_logo > strong {
    font-size: 27px;
    line-height: 1.05;
    letter-spacing: -1px;
}

.footer_logo > strong span {
    color: #ff8a00;
}


.footer_sns {
    display: flex;
    gap: 8px;
    margin-top: 14px;
}

.footer_sns a {
    width: 19px;
    height: 19px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: rgba(255,255,255,.2);

    color: #fff;
    font-size: 9px;
}


/* ========================================
   HOSPITAL CONTACT
======================================== */

.footer_contact {
    display: flex;


    padding: 17px 28px;
}

.footer_contact_box {
    display: flex;
}


.hospital_info {
    flex: 1;

    display: flex;
    gap: 13px;

    padding-right: 25px;
}

.hospital_info + .hospital_info {
    padding-left: 25px;
    border-left: 1px solid #ddd;
}


/* 전화 동그라미 */

.phone_circle {
    width: 34px;
    height: 34px;

    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: #063e91;

    color: #fff;
    font-size: 14px;
}


/* 병원 텍스트 */

.hospital_text h3 {
    margin: 0 0 3px;

    color: #063e91;
    font-size: 14px;
    font-weight: 700;
}

.hospital_text .address {
    margin: 0 0 8px;

    color: #777;
    font-size: 10px;
    white-space: nowrap;
}


.hospital_text .tel,
.hospital_text .fax {
    margin: 4px 0;

    color: #333;
    font-size: 13px;
}

.hospital_text .tel i,
.hospital_text .fax i {
    width: 20px;
    margin-right: 5px;

    color: #063e91;
    font-size: 11px;
}


/* ========================================
   QUICK MENU
======================================== */

.footer_quick {
    padding: 17px 15px;

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    display: flex;
    gap: 8px;
}


.footer_quick a {
    height: 43px;

    padding: 0 15px;

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 8px;

    background: #f0f5fc;

    color: #063e91;

    text-decoration: none;
}


.footer_quick a i {
    font-size: 17px;
}


.footer_quick a span {
    flex: 1;

    font-size: 12px;
    font-weight: 600;
}


.footer_quick a strong {
    font-size: 16px;
    font-weight: 400;
}


/* ========================================
   FOOTER MENU
======================================== */
.footer_logo_box {
    display: flex;
    align-items: start;
}

.footer_info {
    display: flex;
}

.footer_menu {
    flex: 1;

    display: flex;
    gap: 45px;

    padding: 18px 28px;
}


.footer_menu > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.footer_menu h3 {
    margin: 0 0 5px;

    color: #063e91;
    font-size: 12px;
}


.footer_menu a {
    color: #555;
    font-size: 10px;
    text-decoration: none;
}


/* ========================================
   FOOTER BOTTOM
======================================== */

.footer_bottom {
    min-height: 50px;

    padding: 0 28px;

    display: flex;
    align-items: center;

    color: #fff;
}


/* 산하기관 */

.footer_affiliate {
    display: flex;
    align-items: center;
    gap: 20px;

    flex-shrink: 0;
}


.footer_affiliate strong {
    font-size: 13px;
}


.footer_affiliate img {
    max-width: 150px;
    max-height: 32px;

    object-fit: contain;
}


/* 사업자 */

.footer_company {
    margin-left: auto;
    margin-right: 40px;
}


.footer_company p {
    margin: 0;

    font-size: 8px;
    white-space: nowrap;
}


.footer_company span,
.copyright span {
    margin: 0 5px;
}


/* copyright */

.copyright {
    margin: 0;

    font-size: 8px;
    white-space: nowrap;
}
