/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 99;
}

header .logo_h {
    width: 158px;
}

header .logo_h img {
    display: block;
    width: 100%;
}

header .nav_list {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: relative;
    height: 100%;
}

nav > .main_menu {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

nav > .main_menu > li {
   position: relative;
   line-height: 100%;
}

nav > .main_menu > li::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
    transition: height ease-in-out .3s, opacity ease-in-out .5s;
    width: 100%;
    height: 0px;
    opacity: 0;
    background-color: var(--blue);
    z-index: 10;
}

nav > .main_menu > li:hover::before {
    opacity: 1;
    height: calc(122px + 17em);

}


nav > .main_menu > li > a {
    position: relative;
    padding: 0 4.5rem 0;
    line-height: var(--hdH);
    z-index: 21;
    transition: none;
}

.head_inner nav > .main_menu > li > ul {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    transform: translate(-50%, 100%);
    white-space: nowrap;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    transition-delay: -0.1s;
    z-index: 22;
}


/* .head_inner.on nav > .main_menu > li > a {
    padding: 0 5.5rem 0;
    transition: 1s;
} */

.head_inner.on nav > .main_menu > li > ul {
    opacity: 1;
    pointer-events: auto;
}

.head_inner.on nav > .main_menu > li.active a {
    color: var(--white);
}

.head_inner nav > .main_menu > li > ul a {
    position: relative;
    display: block;
    padding: 9px 0;
    font-size: 0.9em;
}

.head_inner nav > .main_menu > li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateX(-50%);
    transition: width 0.5s;
    z-index: 20;
}

.head_inner nav > .main_menu > li.active::after {
    width: 100%;
}

.main_menu > li > ul > li > a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    top: 100%;
    width: 0;
    height: 1px;
    background: var(--white);
    transition: width .3s;
}

.main_menu > li > ul > li > a:hover::after {
    width: 80%;
}

header .gnb_bg {
    position: absolute;
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    transform: translateY(100%);
    transition: all 0.2s;
    z-index: 1;
}

.head_inner.on .gnb_bg {
    height: 17em;
    box-shadow: rgba(149, 157, 165, 0.07) 0px 8px 15px;
}

#header .btn_open{ 
	display: block;
	width: 40px; 
    height: 22px;
	cursor: pointer;

	position: relative;
}

#header .btn_open span{
	position: absolute;
	background-color: var(--black);
	width: 100%;
	height: 2px;
	border-radius: 50px;
}
#header .btn_open span:nth-child(1){
	top: 0;
	left: 0;
	transition: 0.3s;
}
#header .btn_open span:nth-child(2){
	top: calc(50% + 1px);
	left: 50%;
	transform: translate(-50%,-50%);

	transition: 0.3s;
}
#header .btn_open span:nth-child(3){
	top: 100%; 
    right: 0;

	transition: 0.3s;
}


#header .btn_open.active span:nth-child(1){
	top: 5px; left: 2px;
	width: 47%;
	transform: rotate(27deg);
}

#header .btn_open.active span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-27deg);
}

#header .btn_open.active span:nth-child(3){
	top: 15px;
    right: 1px;
    width: 47%;
	transform: rotate(27deg);
}

/* 전체메뉴 */
#full-menu{
    display: none;
	width: 100%;
	height: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	z-index: 98;

	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(240,244,250,1) 100%);
}

.wrapper {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
}

#full-menu.active {
    display: block;
}

#full-menu:after{
	content: '';

	width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;

    box-sizing: border-box;
	background: url(/img/daenam/full-bg1.png), url(/img/daenam/full-bg2.png), url(/img/daenam/full-bg3.png), url(/img/daenam/full-bg4.png);
	background-repeat: no-repeat;
	background-position: 5% 20%, 5% 90%, 95% 95%, -50% -50%;
}

#full-menu .depth01{
	display: flex;
	flex-wrap: wrap;
	height: 100%;
    box-sizing: border-box;
}
#full-menu .depth01 > li{
	width: 33.333%;
	padding-left: 60px;
    box-sizing: border-box;
	position: relative;
	border-right: 1px solid var(--gray04);
}
#full-menu .depth01 > li:nth-child(1),
#full-menu .depth01 > li:nth-child(4){
	border-left: 1px solid var(--gray04);
}

#full-menu .depth01 > li:nth-child(1),
#full-menu .depth01 > li:nth-child(2),
#full-menu .depth01 > li:nth-child(3){
	padding-top: 160px
}


#full-menu .depth01 > li > a{
	font-size: 1.875rem;
	font-weight: var(--fw-600);
	padding: 10px 0;

	position: relative;

	transition: var(--transition);
}
#full-menu .depth01 > li > a:hover{
	color: var(--blue01);
}

#full-menu .depth01 > li a::before{
	content: '';

	width: 0;
	height: 2px;

	position: absolute;
	bottom: 0;
	left: 0;

	background: var(--blue01);
	transition: 0.4s;
}

#full-menu .depth01 > li > a:hover::before{
	width: 100%;
}

#full-menu .depth01 > li > a::after{
	content: "+";

	font-size: 1.75rem;
	font-weight: var(--fw-400);
	color: var(--blue01);

	position: absolute;
	top: -15px; right: -13px;
	opacity: 0;

	transition: var(--transition);
}
#full-menu .depth01 > li > a:hover::after{
	opacity: 1;
}


#full-menu .depth02{
	margin-top: 30px;
}
#full-menu .depth02 li{
	margin-top: 7px;
}
#full-menu .depth02 li:first-child{
	margin-top: 0;
}
#full-menu .depth02 li a{
	font-size: 1.25rem;
	color: var(--gray01);
	padding: 7px 0;

	transition: var(--transition);
}
#full-menu .depth02 li a:hover{
	font-weight: var(--fw-600);
	color: var(--black);
}