/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 1000;
}

header .logo_h {
    width: 158px;
}

header .logo_h img {
    display: block;
    width: 100%;
}

header .nav_list {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: relative;
    height: 100%;
}

nav > .main_menu {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

nav > .main_menu > li {
   position: relative;
   line-height: 100%;
}

nav > .main_menu > li::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0px;
    transform: translate(-50%, 0);
    transition: height ease-in-out .3s, opacity ease-in-out .5s;
    width: 100%;
    height: 0px;
    opacity: 0;
    background-color: var(--blue);
    z-index: 10;
}

nav > .main_menu > li:hover::before {
    opacity: 1;
    height: calc(122px + 17em);

}


nav > .main_menu > li > a {
    position: relative;
    padding: 0 4.5rem 0;
    line-height: var(--hdH);
    z-index: 21;
    transition: none;
}

.head_inner nav > .main_menu > li > ul {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    transform: translate(-50%, 100%);
    white-space: nowrap;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    transition-delay: -0.1s;
    z-index: 22;
}


/* .head_inner.on nav > .main_menu > li > a {
    padding: 0 5.5rem 0;
    transition: 1s;
} */

.head_inner.on nav > .main_menu > li > ul {
    opacity: 1;
    pointer-events: auto;
}

.head_inner.on nav > .main_menu > li.active a {
    color: var(--white);
}

.head_inner nav > .main_menu > li > ul a {
    position: relative;
    display: block;
    padding: 9px 0;
    font-size: 0.9em;
}

.head_inner nav > .main_menu > li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateX(-50%);
    transition: width 0.5s;
    z-index: 20;
}

.head_inner nav > .main_menu > li.active::after {
    width: 100%;
}

.main_menu > li > ul > li > a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    top: 100%;
    width: 0;
    height: 1px;
    background: var(--white);
    transition: width .3s;
}

.main_menu > li > ul > li > a:hover::after {
    width: 80%;
}

header .gnb_bg {
    position: absolute;
    
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    transform: translateY(100%);
    transition: all 0.2s;
    z-index: 1;
}

.head_inner.on .gnb_bg {
    height: 17em;
    box-shadow: rgba(149, 157, 165, 0.07) 0px 8px 15px;
}