/* main > section1(main_1) 메인슬라이드*/

.main_1 {
    background-color: var(--blue03);
}

.main_1 .wrap {
    position: relative;
}

.main_1 .main_slidewrap  {
    /* width:100vw;   화면 전체 가로 */
    height:100vh;  /* 화면 전체 높이 */
    overflow:hidden;
}

.main_1 .main_slidewrap > .slides {
    display:flex;
    height:100%;
    transition:0.5s;
}


.main_1 .main_slidewrap > .slides > div {
    flex:0 0 100%;
    background-repeat:no-repeat;
    background-size:35%;
    background-position:center right 14%;
    display: flex;
    align-items: center;
}

.main_1 .slide_1 {
    background-image:url("../img/visual1.png");
}

.main_1 .text-area {
    width: 70%;
}

.main_1 .slide_2 {
    background-image:url("../img/visual2.png");
}

.main_1 .slide_3 {
    background-image:url("../img/visual3.png");
}

.main_1 .text-area .title {
    font-size: 4.0625rem;
}

.main_1 .slide_control {
    position:absolute;
    left: 0;
    bottom:210px;
    display:flex;
    align-items:center;
    gap:20px;
    z-index:10;
    color:var(--black);
}

.main_1 .page {
    display:flex;
    gap:5px;
    font-size:18px;
}

.main_1 .bar {
    width:200px;
    height:2px;
    background:#ddd;
}

.main_1 .bar span {
    display:block;
    width:33%;
    height:100%;
    background:var(--black);
    transition:.4s;
}

.main_1 .play,
.main_1 .stop {
    background:none;
    border:0;
    color:var(--black);
}

.main_1 .stop {
    display:none;
}

.main_1 .prev,
.main_1 .next {
    background:none;
    border:0;
    color:var(--black);
    font-size:25px;
}

.main_1 .play {
    display:block;
}

.main_1 .stop {
    display:none;
}


.main_1 .schedule_banner {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    z-index: 10;
    width: auto;
    max-width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.main_1 .schedule_banner .list {
    display: flex;
    white-space: nowrap;
    justify-content: space-around;
    background-color: var(--white);
    gap: 37px;
}

.main_1 .schedule_banner .list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 32px;
    gap: 6px;
}

.main_1 .schedule_banner .list a > .ico {
    color: var(--blue);
}

 .main_1 .schedule_banner .list svg {
    fill: var(--blue);
 }

.main_1 .schedule_banner .list li:hover a  {
    background-color: var(--blue);
}

 .main_1 .schedule_banner .list li:hover svg {
    fill: var(--white);
 }

 .main_1 .schedule_banner .list li:hover a > .txt {
    color: var(--white);
}

/* main > section2(main_2) SERVICE*/
.main_2 > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_2 .main_text_box {
    position: relative;
    padding: 48px 42px 70px;
    background-color: var(--blue02);
    overflow: hidden;
    border-radius: 10px;
}

.main_2 .main_text_box > * {
    position: relative;
    z-index: 1;
}

.main_2 .main_text_box::after {
    content: "";
    position: absolute;
    right: -81px;
    bottom: -75px;
    width: 300px;
    height: 300px;
    background-image: url("../img/service1.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: right bottom; */
    /* z-index: -1; */
    transform: scaleX(-1);
}



.main_2 ul {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 65%;
}

.main_2 ul li {
    padding: 30px 20px 20px;
    border: 1px solid var(--blue02);
    border-radius: 20px;
    transition: transform 0.5s ease,
                background-color 0.5s ease,
                color 0.5s ease;
}

.main_2 ul li:hover {
    transform: translateY(-20px);
    background: var(--blue03);
}

.main_2 .icon_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    word-break: keep-all;
}

.main_2 .icon_box .circle_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 24px;
    border-radius: 50%;
    background: var(--blue03);
    transition: var(--transition);
}

.main_2 ul li:hover .icon_box .circle_icon {
    background-color: var(--white);
}

.main_2 .icon_box h4 {
    position: relative;
    margin: 20px 0 32px;
    font-size: 1.125rem;
    font-weight: var(--fw-600);
}

.main_2 .icon_box h4::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -10px;  
    transform: translateX(-50%);
    width: 3.2rem;
    height: 2px;
    border-radius: 20px;
    background-color: var(--blue05);
}

.main_2 .icon_box .small-deco {
    margin-top: 20px;
    font-size: 0.875rem;
    font-weight: var(--fw-700);
    color: var(--blue05);
}

.main_2 .icon_box .arrow_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    width: 42px;
    height: 42px;
    margin-top: 24px;
    font-size: 16px;
    border-radius: 50%;
    border: 1px solid var(--blue05);
    color: var(--blue05);
}

.main_2 ul li:hover .icon_box .arrow_icon {
    color: var(--white);
    background-color: var(--blue05);
}


/* main > section3(main_3) DOCTOR*/
.main_3 {
    background-color: var(--blue03);
}

.main_3 .doctor_view {
    overflow: hidden;
}

.main_3 .doctor_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_3 .doctor_right {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 20px;
}


.main_3 .doctor_box .doctor_slides {
    position: relative;
}

/* 카드가 들어가는 영역 */
.main_3 .doctor_slides .doctor_track {
    display: flex;
    gap: 30px;
    transition: transform 0.5s ease;
}

.main_3 .doctor_slides .doctor_card {
    display: flex;
    flex: 0 0 90%;
    background-color: var(--white);
}


.main_3 .doctor_slides .doctor_img {
    width: 350px;
    height: 400px;
    flex-shrink: 0;
}

.main_3 .doctor_slides .doctor_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_3 .doctor_slides .doctor_txt {
    padding: 34px 20px;
    height: 350px;
    box-sizing: border-box;
    word-break: keep-all;
    flex: 1;
}

.main_3 .doctor_slides .doctor_txt .name {
    margin-bottom: 20px;
}

.main_3 .doctor_slides .doctor_txt .name span {
    color: var(--blue01);
}

.main_3 .doctor_slides .doctor_txt strong {
    font-size: 1.875rem;
    font-weight: var(--fw-600);
    padding-left: 9px;
}

.main_3 .doctor_slides .doctor_txt .career .current {
    color: var(--blue01);
}

.main_3 .doctor_slides .slide_num {
    position:absolute;
    left:0;
    bottom:0;
    display:flex;
    align-items:center;
    gap:8px;
    padding:4px 12px;
    background:var(--blue01);
    backdrop-filter:blur(10px);
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    /* border-radius: 50px; */

}

.main_3 .doctor_slides .slide_num span{
    font-size:16px;
    font-weight:700;
    color: var(--white);
}

.main_3 .doctor_slides .slide_num em{
    font-size:11px;
    font-style:normal;
    color: var(--gray02);
}

.main_3 .doctor_slides .slide_btn {
    position: absolute;
    top: 50%;
    left: -6.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
    transform: translateY(-50%);
}

.main_3 .doctor_slides .slide_btn button {
    font-size: 36px;
    line-height: 1;
    cursor: pointer;
    pointer-events: auto;
    
}

.main_3 .doctor_slides .slide_btn button i {
    color: var(--blue01);
}

.main_3 .doctor_slides .slide_btn button i:hover{
    color: var(--blue04);
}

/* Main4 PROGRAM*/
.main_4 {
    position: relative;
    height: 350vh;
    background: #0e2f68;
}

.main_4 .treatment_inner {
    position: sticky;
    top: 0;
    height: 150vh;
}

.main_4 .wrap {
    height: 100vh;
    display: flex;
    align-items: center;
}

.main_4 .main_text_box {
    width: 40%;
    padding-left: 5%;

    opacity: 0;
    transform: translateY(100px);

    transition: opacity .7s ease, transform .7s ease;
}


.main_4 .main_text_box .deco {
    color: var(--blue04);
}

.main_4 .main_text_box > *  {
    color: var(--white);
}

.main_4 .main_text_box strong {
    color: var(--white);
}

.main_4 .main_text_box.show {
    opacity: 1;
    transform: translateY(0);
}


.main_4 .treatment_list {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
}


.main_4 .treatment_track {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 340px);
    grid-auto-rows: 340px;

    gap: 90px;

    align-content: center;
}


.main_4 .treatment_item {
    width: 340px;
    height: 340px;
    padding: 30px 25px;
    opacity: 0;
    /* 처음에는 아래쪽에 있음 */
    transform: translateY(500px);

    border: 1px solid var(--white);
    overflow: hidden;
    border-radius: 30px;
    background-color: var(--white);
}

.main_4 .program-text {
    margin-bottom: 20px;
}

.main_4 .program-text h4 {
    font-size: 1.25rem;
    font-weight: var(--fw-600);
    color: var(--black);
    margin-top: 20px;
}

.main_4 .program-text p {
    font-size: 1.125rem;
    color: var(--gray01);
    line-height: 1.3;
    margin-top: 12px;
}


/* 이미지 */

.main_4 .treatment_item img {
    width: 100%;
    height: 100%;

    object-fit: contain;

    border-radius: 20px;
}


/* =========================
 Main5 
========================= */

.main_5 .news_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 리스트 */

.main_5 .news_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 60px;
}

.main_5 .news_item {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    border: 1px solid var(--blue03);
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,.05);
    transition: .3s;
}

.main_5 .news_item:hover {
    transform: translateY(-3px);
}


/* 날짜 */

.main_5 .news_date {
    width: 80px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 25px;
    border-right: 1px solid var(--lineColor1);
}

.main_5 .news_date > strong {
    font-size: 30px;
    line-height: 1;
}

.main_5 .news_date > span {
    font-size: 18px;
    line-height: 1.3;
    color: var(--gray01);
}

.main_5 .news_date > span strong {
    font-size: 30px;
    color: var(--blue05);
}

.main_5 .news_date small {
    margin-top: 5px;
    font-size: 14px;
    color: var(--gray01);
}


/* 이미지 */

.main_5 .news_img {
    width: 260px;
    height: 110px;
    flex-shrink: 0;
    margin-left: 30px;
    overflow: hidden;
    border-radius: 12px;
}

.main_5 .news_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .4s;
}

.main_5 .news_item:hover img {
    transform: scale(1.05);
}


/* 내용 */

.main_5 .news_content {
    flex: 1;
    min-width: 0;
    margin-left: 30px;
    padding-right: 50px;
}

.main_5 .news_category {
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: 8px;
    border-radius: 20px;
    background: var(--blue05);
    color: var(--white);
    font-size: 12px;
}

.main_5 .news_content h3 {
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: var(--fw-600);

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main_5 .news_content p {
    color: var(--gray01);
    font-size: 14px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* 화살표 */

.main_5 .news_arrow {
    width: 45px;
    height: 45px;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--blue04);
    border-radius: 50%;

    color: var(--blue05);
    transition: .3s;
}

.main_5 .news_item:hover  .news_arrow {
    background: var(--blue05);
    color: var(--white);
}



/* =========================
    Main_6
========================= */

/* ========================================
   LOCATION
======================================== */

.main_location .map_box {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    align-items: stretch;
}


/* LEFT
---------------------------------------- */

.main_location .map_info_left {
    display: flex;
    flex-direction: column;
}


/* 제목 */

.main_location .main_text_box .deco {
    display: block;
    margin-bottom: 35px;
    color: #2468c9;
    font-size: 18px;
    font-weight: 600;
}

.main_location .main_text_box .title {
    margin: 0;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 400;
    color: #222;
}

.main_location .main_text_box .title strong {
    color: #2468c9;
    font-weight: 700;
}

.main_location .main_text_box .text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.7;
    color: #666;
}


/* 대표번호 */

.main_location .hos_num {
    padding: 32px 0;
    margin-top: 32px;
    border-top: 1px solid #e3e7ed;
    border-bottom: 1px solid #e3e7ed;
}

.main_location .hos_num p {
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

.main_location .hos_num strong {
    color: #2468c9;
    font-size: 28px;
    font-weight: 700;
}


/* 진료시간 */

.main_location .location_time {
    margin-top: 32px;
}

.main_location .location_time .use-deco {
    margin-bottom: 18px;
    color: #2468c9;
    font-size: 17px;
    font-weight: 700;
}


/* RIGHT
---------------------------------------- */

.main_location .location_map {
    padding: 35px;
    border: 1px solid #e3e7ed;
    border-radius: 20px;
}


/* 주소 */

.main_location .location_icon {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8ebef;
}

.main_location .location_icon i {
    color: #2468c9;
    font-size: 22px;
}

.main_location .location_icon h3 {
    margin: 0;
    font-size: 20px;
}


/* 자가운전 */
.main_location .use_info_title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.main_location .use_info_title i {
    color: #2468c9;
    font-size: 20px;
}

.main_location .use_info_title .use-deco {
    margin: 0;
    color: #2468c9;
    font-size: 1.25rem;
    font-weight: 700;
}


/* 경로 */

.main_location .driving_info .time_row {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 15px;
    margin-bottom: 20px;
}

.main_location .time_title_2 {
    color: #2468c9;
    font-weight: 700;
}

.main_location .detail-text p {
    margin: 0;
    line-height: 1.6;
}


/* 지도 */

.main_location #map {
    width: 100%;
    height: 330px;
    border-radius: 12px;
    margin: 32px 0 42px; 
    overflow: hidden;
}


/* ========================================
   대중교통
======================================== */

.main_location .use_box {
    margin-top: 25px;
    padding: 30px;
    border-radius: 20px;
    background: #f5f8fc;
}


.main_location .use_box_title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 25px;
}

.main_location .use_box_title i {
    color: #2468c9;
    font-size: 22px;
}

.main_location .use_box_title h3 {
    margin: 0;
    font-size: 20px;
}


/* 3개 카드 */

.main_location .use_box_list {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr 1.2fr;
    gap: 20px;
}


.main_location .use_box_list > .use_info {
    padding: 28px;
    background: #fff;
    border: 1px solid #e4e8ee;
    border-radius: 18px;
}


/* 교통 제목 */

.main_location .use_box_list .use_info_title {
    margin-bottom: 25px;
}


/* 내용 */

.main_location .use_box_list .time_row {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 10px;
    margin-bottom: 15px;
}

.main_location .use_box_list .time_title {
    font-weight: 700;
}

.main_location .use_box_list .detail-text p {
    font-size: 14px;
}


/* 버스 번호 */

.main_location .bus_number {
    padding-top: 5px;
}

.main_location .bus_number p {
    font-size: 19px;
    line-height: 1.7;
    font-weight: 500;
}


/* 안내문 */

.main_location .notice {
    display: block;
    margin-top: 8px;
    color: #2468c9;
    font-size: 12px;
}


/* 지하철 */

.main_location .subway_1 strong,
.main_location .subway_2 strong {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-right: 4px;
    border-radius: 50%;
    background: #f0602f;
    color: #fff;
    font-size: 12px;
}

.main_location .subway_2 strong {
    background: #3aaa65;
}

/* partner */

.partner {
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.partner-swiper {
    width: 100%;
    overflow: hidden;
}

.partner-swiper .swiper-wrapper {
    display: flex;
    align-items: center;
    width: max-content;

    /* Swiper의 spaceBetween 대신 직접 간격 설정 */
    gap: 50px;

    animation: partnerSlide 25s linear infinite;
}

.partner-swiper .swiper-slide {
    width: 200px !important;
    height: 70px;

    /* 중요 */
    flex: 0 0 200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-swiper .swiper-slide a {
    display: flex;
    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
}

.partner-swiper .swiper-slide img {
    display: block;

    width: auto;
    height: auto;

    max-width: 170px;
    max-height: 50px;

    object-fit: contain;
}


/* 7개 한 세트 = 7 × 200 + 7 × 50 = 1750px */
@keyframes partnerSlide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-1750px);
    }
}