/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--hdH);
    background: #fff;
    border-bottom: 1px solid #eee;
    z-index: 1000;
}

.head_inner {
    padding: 0 80px;
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav {
    position: relative;
    height: 100%;
}

nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav > .main_menu > li > a {
    padding: 0 4.5rem 0;
}

nav > .main_menu > li > ul {
    display: none;
}

header .gnb_bg {
    position: absolute;
    left: 50%;
    bottom: 1px;
    width: 100vw;
    height: 0;
    background-color: #fff;
    transform: translate(-50%, 100%);
    transition: all 0.2s;
}

.head_inner.on .gnb_bg {
    height: 17em;
    box-shadow: rgba(149, 157, 165, 0.07) 0px 8px 15px;
}