/* =======================================


								반응형 RESPONSIVE


======================================= */

@media all and (max-width: 1300px){
	#header .wrapper{
		padding: 0 30px;
	}
	#header nav .main_menu .menu_col > a{
		padding: 0 20px;
	}
	#header nav .sub_menu{
		gap: 45px;
		padding-left: 15px;
	}
	
	#full-menu:after{
		background-position: 2% 13%, 2% 97%, 97% 97%, -50% -50%;
	}
	#full-menu .depth01 > li:nth-child(1),
	#full-menu .depth01 > li:nth-child(4){
		border-left: 0;
	}
	#full-menu .depth01 > li:nth-child(3),
	#full-menu .depth01 > li:nth-child(6){
		border-right: 0;
	}
	#full-menu .depth01 > li > a{
		font-size: 1.5625rem;
	}
	#full-menu .depth02 {
		margin-top: 20px;
	}
	#full-menu .depth02 li a{
		font-size: 1.125rem;
	}
}
@media all and (max-width: 1100px){
	#header{
		height: 70px;
		top: 0;
		/* left: 0;
		transform: translateX(0); */
	}
	#header:before {
		width: 100%;
		/* left: 0;
		transform: translateX(0); */
		border-radius: 0;
	}
	#header .wrapper{
		padding: 0;
	}
	#header .h_logo{
		width: 138px;
	}
	#header nav{
		display: none !important;
	}

	#full-menu .depth01 > li{
		padding-left: 30px;
	}
	
}
@media all and (max-width: 640px){
	#header{
		background-color: var(--white);
	}
	#header .h_logo {
		width: 118px;
	}
	#header .btn_open {
		width: 32px;
		height: 17px;
	}
	#header .btn_open.active span:nth-child(3){
		top: 13px;
	}

/* 	#full-menu:after{
		background-attachment: fixed;
	} */
/* 	#full-menu{
		height: auto;		
	} */
/* 	#full-menu .wrapper{
		overflow-y: scroll;
	} */
	#full-menu .depth01{
		padding-top: 70px;
		height: 60%;
	}
	#full-menu .depth01 > li{
		width: 100%;
		border-right: 0;
		padding-left: 20px;
	}
	#full-menu .depth01 > li{
		padding-top: 35px !important;
	}
/* 	#full-menu .depth01 > li:nth-child(1),
	#full-menu .depth01 > li:nth-child(2),
	#full-menu .depth01 > li:nth-child(3){
		padding-top: 35px;
	} */
	#full-menu .depth01 > li > a{
		padding: 5px 0;
	}
	#full-menu .depth02 {
		margin-top: 15px;
	}

}





@media (max-width: 1100px) {
    #header nav {
        display: none !important;
    }
}